/* pages/resualt/resualt.wxss */

.header{
    padding:  15px 15px 0;
}
.header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1rpx #eee solid ;
    padding-bottom: 15px;
    font-size: 9pt;
    color: #ff726a;
}

.comment{
    /* padding: 15px 0; */
}
.comment .node{
    display: flex;
    padding:15px;
    margin-top: 5px;
    background-color: #ffffff;
}
.comment .center{
    width: 100%;
    padding:0 0 0 15px;
}
.comment .logo{
    width: 46px;
    height: 46px;
}
.comment .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment .zan{
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment .name{
    flex-shrink:0;
    font-size: 10pt;
    color: #3784a8;
}
.comment .content{
    font-size: 11pt;
}
.comment .icon{
    width: 23px;
    height: 23px;
}
.comment label{
    font-size: 8pt;
}





.ai{
    position: fixed;
    bottom: 20px;
    width: 100%;
    /* padding: 15px; */
    text-align: center;
}
.ai .phone{
    font-size: 9pt;
    color: #dc7d77;
}
.ai .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai .btn .content{
    font-size: 12pt;
    color: #fff;
    background-color: #ff726a;
    padding:10px 25px;
    border-radius: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai .btn img{
    width: 23px;
    height: 23px;
    margin-right: 2px;
}






