
/*µØÍ¼*/
.map{
    position: relative;
    display: flex;
    justify-content: center;
    /* padding: 15px 0; */
}
.map .bg{
    width: 100vmin;
    height: 75vmin;
}

.point{
    position: absolute;
    width: 36px;
    height:36px;
}
.point image{
    /* position: absolute; */
    width: 36px;
    height:36px;
}

.num{
    color: #fff;
    background-color: rgba(255, 114, 106,0.7);
    border-radius: 2px;
    padding: 2px;
    font-size: 5pt;
    text-align: center;
}

/*±à¼­*/

.editor{
    font-size: 11pt;
    /* width: 120px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0 10px;
}

.editor .title{
    width: 120px;
    text-align: left;
    /*font-weight: bolder;*/
    /* background-color: #fff;
    box-shadow:0px 5px 5px #aaa; */

}
.editor .btn{
    width: 16px;
    height: 16px;
    /* margin-left: 5px; */
    /* padding: 5px 10px; */
    /* background-color: #fff;
    box-shadow:0px 5px 10px #aaa; */
}

.wall{
    /* margin-top: 5px; */
    padding: 5px 15px;
}
.wall .content{
    border-radius: 5px;
}

/*°´Å¥*/

.ai{
    position: fixed;
    bottom: 0;
    /*bottom: 52px;*/
    width: 100%;
    /* padding: 15px; */
    text-align: center;
}
.ai .phone{
    font-size: 9pt;
    color: #dc7d77;
}
.ai .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai .btn .content{
    font-size: 12pt;
    color: #fff;
    background-color: #ff726a;
    padding:10px 25px;
    border-radius: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai .btn img {
    width: 23px;
    height: 23px;
    /* margin-right: 2px; */
}

/*¾«Áé¶¯»­*/
.sprite{
    position: relative;
    /* height: 120px; */
    /*height: calc(100vh - 75vmin - 73px - 26px -52px);*/
    height: calc(100vh - 75vmin - 78px - 26px);
    position: relative;
    background-color: #fff;
    box-shadow:0px 1px 3px #aaa;
}

.sprite .pop{
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.95);

    /*-webkit-animation:infinite ;*/
    animation-name: fadeIn ;
    -webkit-animation-duration:7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards ;
    animation-fill-mode: forwards ;
    /*-webkit-animation-delay:1s;  /!**ÑÓ³Ù¶¯»­**!/*/
     /*animation-delay:1s;*/
     transition: transform 8000ms 1000ms, opacity; transform-origin: 50% 50% 0px;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}



.sprite .user{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.sprite .name{
    flex-shrink:0;
    font-size: 9pt;
}
.sprite .logo{
    flex-shrink:0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right:5px;
}
.sprite .content{
    flex-shrink:0;
    max-width: 120px;
    font-size: 9pt;
    color: #888;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
}