/* pages/ai/ai.wxss */





.header{
    padding: 10px 15px;
    background-color: #fff;
     /* box-shadow:0px 1px 5px #aaa; */
}
.header .title{
    font-size: 11pt;
    text-align: center;
    padding-bottom:5px;
    /* font-weight: bolder; */
}
.header .content{
    font-size: 9pt;
    color: #888;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.header .image{
    flex-basis:60px;
    margin-right: 10px;
}
.header img{
    width: 60px;
    height:60px;
}
.header .des{
}
.header .summary{

    height:45px;
    line-height: 15px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
}
.header .more{
    text-align: right;
    color: #ff762a;
    padding-right: 5px;
}





.xx_box{
    /* padding:5px 30px 30px; */
    padding:5px 0
}

.mm{
    /* position: fixed;
    bottom: 20px;
    width: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.mm img{
    width: 144px;
    height:144px;
    border-radius: 50%;

}
.sf_word{
    position: absolute;
    top:0;
    /* left: 0; */
}

.camera_box{
    display: flex;
    justify-content: center;
    margin-top:15px;
    border-radius: 10px;
}
.camera_canvas{
    position: absolute;
    top: -1000px;
}
.camera{
    width: calc(100vw - 30px);
    height: calc(100vh - 112px - 100px - 30px);
    border-radius: 5px;
    box-shadow:0px 0px 10px #aaa;
}
/* .camera{
    display: block !important;
    width:350px !important;
    height: 350px;
}
.camera_cover{
    width:350px !important;
    height: 350px;
}
.canvas_cover{
    position: absolute;

    width: 250px;
    height: 250px;
} */
.btn{
    padding: 15px;
}
.btn_comfirm{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.footer{
    font-size: 10pt;
    text-align: center;
}


.xx_btn{
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mode{
    color: #fff;
    display: flex;
     justify-content: space-around;
    align-content: center;
    text-align: center;
    border-radius: 50%;

}
.mode_bg_center{
    width: 70px;
    height: 70px;
    margin: 0 40px;
    background-color: #eeede8;
    box-shadow:0px 1px 1px #828282 inset;
}
.mode .node{
    margin: auto;
     line-height: 58px;
    font-size: 17pt;
     overflow:hidden;
     width: 58px;
    height: 58px;
    /* color: #ec563e; */

    background-color: #fff;
    border-radius: 50%;
    box-shadow:0px 1px 1px #828282;
    font-weight: bold;
}
.mode .image{
    width: 100%;
    height:100%;
}

.mode_bg_sub{
    width: 60px;
    height: 60px;
    /* margin: 10px 0; */
    background-color: #eeede8;
    box-shadow:0px 1px 1px #828282 inset;
}

.mode_bg_sub .node{
    margin: auto;
     line-height: 49px;
    font-size: 14pt;
     overflow:hidden;
     width: 49px;
    height: 49px;
    color: #ec563e;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:0px 1px 1px #828282;
    font-weight: bold;

    display: flex;
     justify-content: space-around;
    align-content: center;
}
.mode_bg_sub img{
    margin: auto;
    width: 21px;
    height: 21px;
}











.level_color_1{
    color: #8a8a8a;
}

.click {
    background-color: #eee !important;
}

.footer{
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 9pt;
    color: #8e8e8e;
}